 body,html{
  height:100%;
  width:100%;
 }

 h1{

  height:104.5px;
  left:50%;
  margin:-52.25px 0 0 -131.5px;
  position:absolute;
  text-indent:-99999px;
  top:40%;
  width:263px;

  img{
    display:block;
  }

 }