<div class="invoice-box-container">
  <div class="bg">&nbsp;</div>
  <form action="" method="POST">
    <script
      src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
      data-key="pk_1aY9Mx1z7Fw12qsL6NYW6zGp9s90q"
      data-amount="76826"
      data-name="Demo Site"
      data-description="Trip $"
      data-image="/128x128.png">
    </script>
  </form>
</div>