<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!-- + Hello world + -->
  <title>Site Title</title>

  <!-- + Meta data + -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='' />
  <meta name='keywords' content='' />
  <meta name='robots' content='index,follow,archive' />
  <meta name="google-site-verification" content="9Qo14fTnp-zjycXjBgptyj_TxkQT6yMH9TUS_Z8nr_U" />

  <!-- + Favicon and styles + -->
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
  <link rel="stylesheet" href="/assets/styles/css/app.css">

  <!-- + Fonts + -->
  <!--
  <script type="text/javascript" src="//use.typekit.net/xcx7kkc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  -->

  <!-- + IE Fix for HTML5 Tags + -->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script type="text/javascript">

    // var _gaq = _gaq || [];
    // _gaq.push(['_setAccount', 'UA-XXXXXX-XX']);
    // _gaq.push(['_trackPageview']);

    // (function() {
    //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    // })();

  </script>

</head>
<body>

{% include 'index.html.twig' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.8.2.js"><\/script>')</script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>

<!-- Included JS Files (Uncompressed) -->

<!--   // <script src="/assets/js/foundation/jquery.js"></script>

// <script src="/assets/js/foundation/jquery.cookie.js"></script>

// <script src="/assets/js/foundation/jquery.event.move.js"></script>

// <script src="/assets/js/foundation/jquery.event.swipe.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.accordion.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.alerts.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.buttons.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.clearing.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.forms.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.joyride.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.magellan.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.navigation.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.orbit.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.reveal.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.tabs.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.tooltips.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.topbar.js"></script>

// <script src="/assets/js/foundation/jquery.placeholder.js"></script> -->


<!-- Application Javascript, safe to override -->

<!-- <script src="/assets/js/foundation/app.js"></script> -->