<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!-- + Hello world + -->
  <title>Authentic Form & Function</title>

  <!-- + Meta data + -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='' />
  <meta name='keywords' content='' />
  <meta name='robots' content='index,follow,archive' />
  <meta name="google-site-verification" content="9Qo14fTnp-zjycXjBgptyj_TxkQT6yMH9TUS_Z8nr_U" />

  <!-- + Favicon and styles + -->
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
  <link rel="stylesheet" href="/assets/styles/css/app.css">

  <!-- + Fonts + -->
  <!--
  <script type="text/javascript" src="//use.typekit.net/xcx7kkc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  -->

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_d1AhG5h3D8fYlpA55zIvo5XmCyVXr');
  </script>

  <!-- + IE Fix for HTML5 Tags + -->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-23070397-18', 'authenticff.com');
    ga('send', 'pageview');
  </script>

</head>
<body>

{% include 'index.html.twig' %}

{% if invoice %}
{% include 'invoice.html.twig' %}
{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.8.2.js"><\/script>')</script>
<script src="/assets/scripts/plugins.js"></script>
<script src="/assets/scripts/main.js"></script>

</body>
</html>

<!-- Included JS Files (Uncompressed) -->

<!--   // <script src="/assets/js/foundation/jquery.js"></script>

// <script src="/assets/js/foundation/jquery.cookie.js"></script>

// <script src="/assets/js/foundation/jquery.event.move.js"></script>

// <script src="/assets/js/foundation/jquery.event.swipe.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.accordion.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.alerts.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.buttons.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.clearing.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.forms.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.joyride.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.magellan.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.navigation.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.orbit.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.reveal.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.tabs.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.tooltips.js"></script>

// <script src="/assets/js/foundation/jquery.foundation.topbar.js"></script>

// <script src="/assets/js/foundation/jquery.placeholder.js"></script> -->


<!-- Application Javascript, safe to override -->

<!-- <script src="/assets/js/foundation/app.js"></script> -->